.main_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.item {
    width: 90%;
    margin: 5%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cascadia Mono;
    font-size: x-large;
    border-radius: 5%;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.3s ease;
}

.item:hover {
    color: darkorange;
    transform: scale(1.1);
}

.topics {
    color: white;
    margin-top: 10px;
    font-family: Cascadia Mono;
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.topics a {
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 3px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.topics a:hover {
    background-color: darkorange;
}

html, body {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) { 
    .main_container {
    display: flex;
    flex-direction: column;
    }
    .item_container {
        width: 90%;
        margin-left: 5%;
    }
    .item {
        width: 90%;
        margin-left: 5%;
    }
}