.hidebutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    font-family: "century gothic";
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    
    border: none;
    background-color: #031220;
    
    border-radius: 12px;
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.4),
        -5px -5px 15px rgba(255, 255, 255, 0.05);
    
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.17, .67, .83, .67);
    transform: translateY(0);
}

.hidebutton:hover {
    color: rgb(209, 253, 253);
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.5), 
        -5px -5px 10px rgba(255, 255, 255, 0.08),
        0 0 10px rgba(100, 180, 255, 0.4);
    transform: translateY(-2px);
}

.hidebutton:active {
    background-color: #041628;
    box-shadow: 
        inset 5px 5px 10px rgba(0, 0, 0, 0.6), 
        inset -5px -5px 10px rgba(255, 255, 255, 0.02);
    transform: translateY(1px) scale(0.98);
}

.header_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin-left: 20px;
}

#avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatar-initial {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.profile-link {
    background-color: rgba(0, 255, 255, 0.534);
    padding: 5px;
    border-radius: 8px;
    border: solid white 1px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: -20px;
}

.profile-link:hover {
    transform: scale(1.1) translateY(-2px);
}

@media (max-width: 768px) { 
    .header_profile {
        margin-left: 0;
    }
}