.cropped-image1 {
    width: auto;
    height: 100%;
    object-fit: cover;
    transform: scale(1.8);
    transform-origin: center;
    display: block;
}

.cropped-image2 {
    width: auto;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transform-origin: center;
    display: block;
}