body {
    background: #000;
    color: #fff;
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.header-top, .header-bottom {
    font-size: 20px;
}
.title {
    font-size: 4rem;
    color: aqua;
    margin: -10px 0;
}
.topics a {
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 3px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.topics a:hover {
    background-color: darkorange;
}

.section {
    padding: 25px;
}
.mendel {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9rem;
    color: rgb(20, 50, 25);
    background: #d0d0d0;
     border-radius:15px;  
     overflow: hidden;
}

th, td {
    border: 1px solid #000;
    padding: 10px 15px;
    text-align: center;
}
th {
    background: #e5e5e5;
}
tr:nth-child(even) td {
    background: #c7c7c7;
}
tr:nth-child(odd) td {
    background: #d5d5d5;
}

.fraction {
    display: inline-block;
    text-align: center;
}
.top {
    display: block;
}
.bottom {
    display: block;
    border-top: 1px solid #000;
}

.reaction-block {
    margin-bottom: 25px;
    padding: 15px;
    border-left: 5px solid aqua;
    background: rgba(255,255,255,0.05);
}
.reaction-block h3 {
    margin-top: 0;
    color: rgb(44, 94, 94);
}

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.totop img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}
.totop .btn-hover {
    opacity: 0;
}
.totop:hover .btn-hover {
    opacity: 1;
}
.totop:hover .btn {
    opacity: 0;
}