@font-face {
    font-family: 'DwarvenStonecraftCyr';
    src: url('../DwarvenStonecraftCyr.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'DwarvenStonecraftCyr';
    font-size: larger;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.card_full {
    font-size:medium;
    margin: 3px;
    width: 100px;
    font-family: "franklin gothic medium";
    border-radius:2px;
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 3px;
    background-color: #23344431;
    border-radius: 10px;
    box-shadow: 
        4px 4px 12px rgba(255, 255, 255, 0.05),
        -2px -2px 6px rgba(255, 255, 255, 0.05),
        0 0 0 1px rgba(255, 255, 255, 0.05),
        inset -3px -3px 8px #c0c0c010;
    transition: 0.8s ease;
}
.card_full a {
    text-decoration: none;
    color: #93cbff;
    transition: color 0.6s ease;
    margin: 0;
}
.card_full a:hover {
    text-decoration: none;
    color: #3977b1;
}
.card_full:hover {
    background-color: #1872c556;
    transform:translateY(5px);
}
.card_name {
    text-align: center;
}

.card_container {
    border-radius:4px;
    border: 1px solid rgba(180, 191, 255, 0.295);
    width: 100px;
    height: 150px;
    overflow: hidden;
    position: relative;
    transition: transform 0.6s cubic-bezier(.03,.7,.32,1);
    box-shadow: 5px 5px 15px rgba(136, 136, 136, 0.11);
    transform-style: preserve-3d;
}
.news_container {
    position: relative;
    width: 100%;
    height: 100%;
}
.news_container .icon {
    height: 100%;
    width: 100%;
    display: block; 
    position: static;
    z-index: 1;
}
.news_container .lighter {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.lighter {
    transition: margin 0.6s cubic-bezier(.03,.7,.32,1);
    width: 100px; 
    z-index: 2; 
    position: absolute;
}
.icon {
    transition: transform 0.6s ease;
    z-index: 1; 
    position: absolute;
}
.news {
    width: 15%;
    height: 100%;
}

.card_full.avatar {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.card_full.avatar ul {
    flex-grow: 1;
    margin-bottom: 0;
    padding-left: 20px;
}

.lighter {
    transition: margin 0.6s cubic-bezier(.03,.7,.32,1);
    width: 100px; 
    z-index: 2; 
    position: absolute;
}
.icon {
    transition: transform 0.6s ease;
    z-index: 1; 
    position: absolute;
}
.card_container:hover .icon {
    transform:  scale(1.03);
}

.header {
    z-index: 9999;
    background-color: #082642;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_menu {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header_element {
    background-color: #0c3c6931;
    border: 2px solid rgba(161, 150, 255, 0.24);
    display: inline-block;
    padding: 6px 15px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.5), 
        -5px -5px 10px rgba(255, 255, 255, 0.05);
    transition: all 0.3s cubic-bezier(.17, .67, .83, .67);
    transform: translateY(-2px);
    font-size: x-large;
}

.header_element a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.header_element a:hover {
    color: rgb(209, 253, 253);
}

.header_element:hover {
    background-color: #07223e;
    box-shadow: 
        inset 4px 4px 8px rgba(0, 0, 0, 0.6), 
        inset -4px -4px 8px rgba(255, 255, 255, 0.02),
        0 0 10px rgba(100, 180, 255, 0.4);
    transform: translateY(0) scale(1.05);
}

.cardholder {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content_box {
    padding: 20px;
    padding-left: 70px;
    transition: all 0.5s ease;
    box-shadow: 
        inset 3px 3px 8px rgba(0, 0, 0, 0.4),
        inset -3px -3px 8px rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateZ(-10px);
    position: relative;
    width: 100%;
    box-sizing: border-box;


    background:
        radial-gradient(circle at 20% 30%, rgba(255,255,255,.2) 1px, transparent 2px),
        radial-gradient(circle at 70% 80%, rgba(255,255,255,.15) 1px, transparent 2px),
        radial-gradient(circle at 40% 60%, rgba(255,255,255,.1) 1px, transparent 2px),
        radial-gradient(ellipse at 50% 50%, rgba(255,255,255,.1) 1px, transparent 2px),
        #05192c6c;
    animation: 
        noiseMove 8s linear infinite,
        pulseGlow 3s ease-in-out infinite;
    background-size: 50px 50px;
    transition: background-color 0.3s ease;
}

@keyframes noiseMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}
@keyframes pulseGlow {
  0%{
    transform: translateZ(-10px);
    filter: hue-rotate(0deg);
    box-shadow:
      inset 3px 3px 8px rgba(0, 0, 0, 0.4),
      inset -3px -3px 8px rgba(255, 255, 255, 0.05),
      0 0 5px rgba(0, 120, 255, 0.2);
  }

  50% {
    transform: translateZ(10px);
    filter: hue-rotate(20deg);
    box-shadow:
      inset 6px 6px 14px rgba(0, 0, 0, 0.5),
      inset -4px -4px 10px rgba(255, 255, 255, 0.1),
      0 0 20px rgba(0, 200, 255, 0.5);
  }

  100% {
    transform: translateZ(-10px);
    filter: hue-rotate(0deg);
    box-shadow:
      inset 3px 3px 8px rgba(0, 0, 0, 0.4),
      inset -3px -3px 8px rgba(255, 255, 255, 0.05),
      0 0 5px rgba(0, 120, 255, 0.2);
  }
}


.content_box:hover {
    background-color: #05192cc7;
    padding-left: 70px;
    box-shadow: 
        inset 6px 6px 14px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(255, 255, 255, 0.08);
}

.divider_box {
    background-color: #08264293;
    border: 1px solid rgba(70, 49, 255, 0.61);
    padding: 8px;
    padding-left: 20px;
    transition: all 0.5s ease;
    color: white;
    box-shadow: 
        4px 4px 12px rgba(70, 49, 255, 0.3),
        -2px -2px 6px rgba(70, 49, 255, 0.05),
        0 0 0 1px rgba(70, 49, 255, 0.1);
    transform: translateZ(10px);
    position: relative;
    z-index: 1;
}

.divider_box:hover {
    border: 1px solid rgba(27, 164, 255, 0.644);
    background-color: #0929475e;
    padding-left: 21px;
    box-shadow: 
        8px 8px 20px rgba(70, 49, 255, 0.7),
        -2px -2px 6px rgba(70, 49, 255, 0.7),
        0 0 0 1px rgba(70, 49, 255, 0.7);
    transform: translateZ(15px);
}

@media (max-width: 768px) { 
    .content_box {
        animation: none;
    }
    .header {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        height: auto;
    }
    .header_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header_element {
        font-size: medium;
        width: 90%;
        text-align: center;
        margin: 5px 0;
        box-sizing: border-box;
    }
    .card_name {
        margin-top: 10px;
    }
    .card_full:not(.news) {
        transform: scale(0.7);
        font-size: x-small;
        margin: -15px;
        margin-top: -30px;
        border-radius: 5px;
        box-shadow: 
            4px 4px 12px rgba(0, 0, 0, 0.3),
            -2px -2px 6px rgba(255, 255, 255, 0.05),
            0 0 0 1px rgba(0, 0, 0, 0.1),
            inset -3px -3px 8px #041320;
    }
    .news {
        font-size: x-small;
    }
    .card_full.avatar {
        width: 70px;
        height: 100%;
        margin-left: -1%;
    }
    .avatar ul {
        margin: 0;
        padding: 0;
        margin-left: 20%;
    }
    .content_box {
        padding: 10px;
        padding-left: 20px;
        box-shadow: 
            inset 2px 2px 5px rgba(0, 0, 0, 0.4),
            inset -2px -2px 5px rgba(255, 255, 255, 0.05);
        box-sizing: border-box;
    }
    .content_box:hover {
        padding-left: 20px;
        box-shadow: 
            inset 3px 3px 7px rgba(0, 0, 0, 0.5),
            inset -3px -3px 7px rgba(255, 255, 255, 0.08);
    }
    
    .divider_box {
        box-shadow: 
            3px 3px 8px rgba(0, 0, 0, 0.3),
            -1px -1px 4px rgba(255, 255, 255, 0.05),
            0 0 0 1px rgba(0, 0, 0, 0.1);
    }
    
    .divider_box:hover {
        box-shadow: 
            4px 4px 10px rgba(0, 0, 0, 0.4),
            -2px -2px 6px rgba(255, 255, 255, 0.08),
            0 0 0 1px rgba(0, 0, 0, 0.15);
    }
}

.hidebutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    font-family: "century gothic";
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    
    border: none;
    background-color: #031220;
    
    border-radius: 12px;
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.4),
        -5px -5px 15px rgba(255, 255, 255, 0.05);
    
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.17, .67, .83, .67);
    transform: translateY(0);
}

.hidebutton:hover {
    color: rgb(209, 253, 253);
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.5), 
        -5px -5px 10px rgba(255, 255, 255, 0.08),
        0 0 10px rgba(100, 180, 255, 0.4);
    transform: translateY(-2px);
}

.hidebutton:active {
    background-color: #041628;
    box-shadow: 
        inset 5px 5px 10px rgba(0, 0, 0, 0.6), 
        inset -5px -5px 10px rgba(255, 255, 255, 0.02);
    transform: translateY(1px) scale(0.98);
}

.header_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin-left: 20px;
}

#avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatar-initial {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.profile-link {
    background-color: rgba(0, 255, 255, 0.534);
    padding: 5px;
    border-radius: 8px;
    border: solid white 1px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: -20px;
}

.profile-link:hover {
    transform: scale(1.1) translateY(-2px);
}

@media (max-width: 768px) { 
    .header_profile {
        margin-left: 0;
    }
}